<!--HEADING-->
@{
    Layout = "/Shared/_Layout1.cshtml";
}

@section link{
    <link rel="stylesheet" href="~/Shared/styleOne.css" />
}

@section script {
    <script src="~/Scripts/scriptBasic.js"></script>}


<!--FORM HANDLING RAZOR CODE-->
@{
    var db = Database.Open("Quote");
    var selectCommand = "SELECT * FROM Quotes";
    var searchTerm = "";

    if (!Request.QueryString["byCustomerName"].IsEmpty())
    {
        selectCommand = "SELECT * FROM Quotes WHERE Name LIKE @0";
        searchTerm = "%" + Request.QueryString["byCustomerName"] + "%";
    }

    if (!Request.QueryString["surfaceMaterial"].IsEmpty())
    {
        selectCommand = "SELECT * FROM Quotes WHERE SurfaceMaterial LIKE @0";
        searchTerm = "%" + Request.QueryString["surfaceMaterial"] + "%";
    }


    var selectedData = db.Query(selectCommand, searchTerm);
    var grid = new WebGrid(source: selectedData, defaultSort: "Date", rowsPerPage: 5);


}



<div><h1>Search Quotes</h1></div>
<br />
<!--OPTIONAL FORMs-->
<!--Form1-->
<form method="get">
    <div>
        <label for="byCustomerName">Search by Customer Name:</label>
        <input id="customerNameSearchBox" type="text" name="byCustomerName" value="@Request.QueryString["byCustomername"]" />
        <input id="button" type="Submit" value="Search" /><br />
        (Leave blank to list all quotes.)<br />
    </div>
    <div>
        <label for="SurfaceMaterial">Search by Surface Material:</label>
        <input id="surfaceMaterialSearchBox" type="text" name="surfaceMaterial" value="@Request.QueryString["surfaceMaterial"]" />
        <input id="button" type="Submit" value="Search" /><br />
    </div>
</form>


<!--OPTIONAL OUTPUT-->
<div>
    @grid.GetHtml(
                    tableStyle: "grid",
                    headerStyle: "head",
                    alternatingRowStyle: "alt",
                    columns: grid.Columns(
                        grid.Column("Date"),
                        grid.Column("Name"),
                        grid.Column("RushOption"),
                        grid.Column("DeskWidth"),
                        grid.Column("DeskDepth"),
                        grid.Column("DrawerCount"),
                        grid.Column("SurfaceMaterial"),
                        grid.Column("DeskQuote")
                    )
                  )
</div>

