@{
    Layout = "/Shared/_Layout1.cshtml";
}

@section script {
    <script src="~/Scripts/scriptBasic.js"></script>}

@section link{
    <link rel="stylesheet" href="~/Shared/styleOne.css" />
}



<!--FORM HANDLING RAZOR CODE-->
@{
    var db = Database.Open("Quote");
    var selectCommand = "SELECT * FROM Quotes";
    var searchTerm = "";

    var selectedData = db.Query(selectCommand, searchTerm);
    var grid = new WebGrid(source: selectedData, defaultSort: "Date", rowsPerPage: 5);

}
<div><h1>All Quotes</h1></div>
<br />
<div>
    @grid.GetHtml(
                                                             tableStyle: "grid",
                                                             headerStyle: "head",
                                                             alternatingRowStyle: "alt",
                                                             columns: grid.Columns(
                                                             grid.Column("Date"),
                                                             grid.Column("Name"),
                                                             grid.Column("RushOption"),
                                                             grid.Column("DeskWidth"),
                                                             grid.Column("DeskDepth"),
                                                             grid.Column("DrawerCount"),
                                                             grid.Column("SurfaceMaterial"),
                                                             grid.Column("DeskQuote")))
</div>
