<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    <p id="footer">&copy;@DateTime.Now.Year MegaDesk <a style="color:black;" href="~/Pages/megaDeskMain.cshtml">Home</a></p>
</body>
</html>
