<header>
    <div id="logo"><img src="~/Media/Images/megadesklogo-blue.png" alt="logo" /></div>
    <h1>Desk Quote Web Application</h1>
    <!---LINKS-->
    <nav>
        <ul>
            <li><a href="megaDeskMain.cshtml">Home</a></li>
            <li><a href="addQuote.cshtml">Build a Quote</a></li>
            <li><a style="" href="viewAllQuotes.cshtml">View All Quotes</a></li>
            <li><a style="" href="searchPage.cshtml">Search Quotes</a></li>
        </ul>
    </nav>
</header>
