<!DOCTYPE html>
<html>
<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="Author" content="AA">
        <meta name="keywords" content="tutorial, html">
        <link rel="stylesheet" href="~/Shared/styleOne.css">
        <script src="~/Scripts/scriptOne.js" type="text/javascript"></script>
        <title>@Page.Title</title>
        @RenderSection("head", required: false)
        @RenderSection("link", required: false)
        @RenderSection("script", required: false)
</head>
<body>

</body>
</html>
<!---One can put a nav bar in the header or make a navbar file and insert it where needed
    with Render Page razor code--->
